*{
    
    box-sizing: border-box;
}

body{
    background-color: #121212;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

@font-face {
    font-family: fonte-titulo;
    src: url(assents/fonts/PirataOne-Regular.ttf);
    font-style: normal;
}

@keyframes flutuar{
        0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform:  translateY(-5px);
    }
}

#titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
font-family: fonte-titulo,serif;
    color: white;
    text-align: center;
    font-size: 3rem;
    position: relative;
    margin-top: 30px;
    animation: flutuar 3s ease-in-out infinite;
}


#subtitulo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: fonte-titulo, serif;
    text-align: center;
    font-size: clamp(1rem, 2.5vw, 1.5rem);  
    animation: flutuar 3s ease-in-out infinite;
    margin: 10px auto 0 auto;  
    max-width: 90%;  
    position: absolute;
    left: 41%;
}

.linha{
    background-color: white;
    height: 1px;
    width: 190px;
    position: relative;
    margin-top: 120px;
    left: 7%;
}

#sobre-linha{
    color: white;
    position: relative;
    margin:0;
    top: 110px;
    left: 9%;
}


.container{
    display: flex;            
    justify-content: center;  
    align-items: flex-start;  
    gap: 90px;               
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 16px;
    margin-right: 300px;
    margin-top: 30px;
}


.card1,
.card2,
.card3,
.card4,
.card5 {
    background-color: rgb(36, 35, 35);
    box-shadow:  10px 5px 10px rgb(153, 0, 255);
    height: 21rem;
    width: 29rem;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}




.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover,
.card5:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}


